* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

button,
input {
  font-family: inherit;
}

:focus {
  outline: none;
}

#app {
  max-width: 500px;
  margin: 0 auto;
}
::-webkit-scrollbar {
  display: none;
  width: 0;
}